#cabecera{
 
 }
 
 #menuppal{
 
 }
 #cuerpo{
 min-height:400px;
 padding-top: 15px;
 }
 #pie{
 background-color:#FFDC00;
 margin-top:10px; }
 .etiq1{
 width:200px;
 display:block;
 }
 
 a{
 text-decoration:none;
 }
 
 /****************************formularios***************************/
 .etiqueta1{ float:left; display:block; } .campo1{ float:left; display:block; overflow:auto; clear:right; } .fila_form{ display:block; clear:both; overflow:auto; } .form_impar{ background-color:#DAEDF9; border:solid 1 px #E9E9E9; }



#mensaje{
	width : 100%;
	background-color: transparent;
	text-align : center;
	font-weight:bolder;
	font-size:medium;
	color:red;
}

.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
}
	
.LV_invalid {
    color:#CC0000;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}