{include file="iniciov.html"}
<div class="tabla">
<table border="1" class="table table-condensed table-hover table-striped table-bordered display">
<tr><th>id</th><td>{$d.id}</td></tr>
<tr><th>dni</th><td>{$d.dni}</td></tr>
<tr><th>nombre</th><td>{$d.nombre}</td></tr>
<tr><th>apellido</th><td>{$d.apellido}</td></tr>
<tr><th>direccion</th><td>{$d.direccion}</td></tr>
<tr><th>pais_id</th><td>{$d.pais_id}</td></tr>
<tr><th>tlf</th><td>{$d.tlf}</td></tr>
<tr><th>tlf2</th><td>{$d.tlf2}</td></tr>
<tr><th>correo</th><td>{$d.correo}</td></tr>
{if {$d.adjunto}}
<tr><th>{$meta.adjunto.etiqueta}</th>
<td><img src="./upload/clientes/{$d.adjunto}" width="120" height="120" /></td></tr>
{/if}
<tr><th>creado</th><td>{$d.creado}</td></tr>
<tr><th>modificado</th><td>{$d.modificado}</td></tr>

</table>
</div>
<a href="clientes_eliminar2.php?id={$id}" class="btn btn-primary btn-lg active"> <i class="fa fa-check"></i> Sí, elimínelo</a>
{include file="finalv.html"}