</div>
            </div>
        </div>
    </section>
    <!--/.INTRO END-->
     <section id="footer-sec" >
        <div class="container">
            <div class="row  pad-bottom" >
                Realizado por Marcos Torrealba </br>
                Todos los derechos reservados IP Sistemas C.A © 2017
            </div>
        </div>
    </section


;
<!-- core jquery  -->
<script src="./libs/js/jquery/jquery-2.1.4.min.js"></script>
<!-- bootstrap scripts  -->
<script src="./libs/bs_tpl/plugins/bootstrap.js"></script>
<!-- eModal.js -->
<script src="./libs/bootstrap/emodal/dist/eModal.min.js"></script>
<!-- custom scripts  -->
<!-- script src="./libs/bs_tpl/js/custom.js"></script -->
<script src="./libs/bootstrap/emodal/dist/eModal.js"></script>
<script src="./libs/AdminLTE/dist/js/adminlte.min.js"></script>

<script src="./libs/AdminLTE/bower_components/Chart.js/Chart.js"></script>
<!-- FastClick -->
<script src="./libs/AdminLTE/bower_components/fastclick/lib/fastclick.js"></script>
<script src="./libs/AdminLTE/dist/js/demo.js"></script>

{$pie}</body>
</html>