{include file="iniciov.html"}
<div class="tabla">
<table border="1" class="table table-condensed table-hover table-striped table-bordered display">
<tr><th>id</th><td>{$d.id}</td></tr>
<tr><th>nombre</th><td>{$d.nombre}</td></tr>
<tr><th>abreviacion</th><td>{$d.abreviacion}</td></tr>
<tr><th>creado</th><td>{$d.creado}</td></tr>
<tr><th>modificado</th><td>{$d.modificado}</td></tr>

</table>
</div>
<a href="monedas_eliminar2.php?id={$id}" class="btn btn-primary btn-lg active"> <i class="fa fa-check"></i> Sí, elimínelo</a>
{include file="finalv.html"}