{include file="iniciov.html"}

<table class="table table-condensed table-hover table-striped table-bordered display" style="max-width:540px;">
<tr><th>{$meta.id.etiqueta}</th>
<td>{$d.id}</td></tr>
<tr><th>{$meta.nombre.etiqueta}</th>
<td>{$d.nombre}</td></tr>
<tr><th>{$meta.direccion.etiqueta}</th>
<td>{$d.direccion}</td></tr>
<tr><th>{$meta.tlf.etiqueta}</th>
<td>{$d.tlf}</td></tr>
<tr><th>{$meta.tlf2.etiqueta}</th>
<td>{$d.tlf2}</td></tr>
<tr><th>{$meta.pais_id.etiqueta}</th>
<td>{$d.pais_id}</td></tr>
<tr><th>{$meta.persona_contacto.etiqueta}</th>
<td>{$d.persona_contacto}</td></tr>
<tr><th>{$meta.creado.etiqueta}</th>
<td>{$d.creado}</td></tr>
<tr><th>{$meta.modificado.etiqueta}</th>
<td>{$d.modificado}</td></tr>

</table>

{include file="finalv.html"}